.glassPurple {
  position: relative;
  border-radius: 12px;
  -corner-smoothing: antialiased;
  background: #34B27B;
  border: none;
  box-shadow: 0 2px 12px 0 rgba(52,178,123,0.14) inset, 0 2px 8px 0 rgba(0,0,0,0.10), 0 1px 6px 0 rgba(52,178,123,0.08);
  margin: 0 4px;
  backdrop-filter: blur(2px) saturate(120%);
  -webkit-backdrop-filter: blur(2px) saturate(120%);
}

.zoomEndCap {
  position: absolute;
  top: 0;
  background: #315d4a;

    width: 18px;
    height: 100%;
  pointer-events: none;
  z-index: 2;
  transition: background 0.2s, box-shadow 0.2s;
}

.zoomEndCap.left {
  left: -9px;
  cursor: ew-resize;
}
.zoomEndCap.right {
  right: -9px;
  transform: scaleX(-1);
  cursor: ew-resize;
}
